body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  @apply font-lexend;
}

h2 {
  font-size: 28px;
  margin: 40px 20px 10px;
}

.site-header {
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 30px;
}

.site-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.site-header ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.site-header ul li {
  display: inline-block;
}

.site-header ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.site-header ul li a.button {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 25px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
}